
label {
    color: black;
    font-family: "MS Gothic", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.custom-tooltip {
    background-color: #3498db;
    color: white;
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
}

.button:selected {
    background-color: rgba(0, 0, 0, 0); 
}

